@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: "Meta Serif";
    src: url("/fonts/ff-meta-serif-pro.otf");
  }
  @font-face {
    font-family: "Akkurat";
    src: url("/fonts/akkurat/Akkurat-Regular.woff");
  }
  @font-face {
    font-family: "Akkurat";
    src: url("/fonts/akkurat/Akkurat-Bold.woff");
    font-weight: bold;
  }
  @font-face {
    font-family: "Akkurat";
    src: url("/fonts/akkurat/Akkurat-Italic.woff");
    font-style: italic;
  }
  @font-face {
    font-family: "Akkurat";
    src: url("/fonts/akkurat/Akkurat-BoldItalic.woff");
    font-weight: bold;
    font-style: italic;
  }
  @font-face {
    font-family: "Akkurat";
    src: url("/fonts/akkurat/Akkurat-Light.woff");
    font-weight: lighter;
  }
  @font-face {
    font-family: "Akkurat";
    src: url("/fonts/akkurat/Akkurat-LightItalic.woff");
    font-weight: lighter;
    font-style: italic;
  }
  @font-face {
    font-family: "Akkurat";
    src: url("/fonts/akkurat/AkkuratMono-Regular.woff");
  }
}
